@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.files-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    width: 900px;
    display: flex;
    flex-direction: column;
}

table *, .options *, .context-menu *, .uploads-container * {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

table {
    border-collapse: inherit;
    border-spacing: 0;
    background-color: #1f1f1f;
    border-radius: 10px;
    overflow: hidden;
}

table thead th {
    color: white;
    text-align: left;
    padding: 20px;
}

table tbody tr {
    color: white;
    border-radius: 10px;
}

table tbody td {
    padding: 20px 0;
}

table tbody tr .checkbox {
    width: 7%;
}
table tbody tr .name {
    width: 53%;
    cursor: pointer;
}
table tbody tr .size {
    width: 30%;
}
table tbody tr .menu {
    width: 10%;
    text-align: right;
}

table tbody td p {
    display: inline;
}

table tbody tr .name:hover p  {
    text-decoration: underline;
}

table tbody td button {
    background-color: transparent;
    cursor: pointer;
    width: 15px;
    height: 20px;
    border: none;
    outline: none;
}

table tbody td img {
    vertical-align: middle;
    width: 15px;
    height: 20px;
}

table tbody td:first-child {
    padding-left: 20px;
}

table tbody td:last-child {
    padding-right: 20px;
}

table tbody tr:hover {
    background-color: #505050;
}

table tbody tr .checkbox input{
    appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #868686;
    border-radius: 5px;
    background-color: transparent;
}

table tbody tr .checkbox input:checked {
    content: url("/assets/icons/checkmark.svg");
    background-color: #3956ff;
    border: none;
}

.editor-container {
    border-radius: 10px;
    margin-top: 10px;
}

#editor {
    height: 600px;
    width: 100%;
    font-family: "Roboto Mono", "Courier New";
    font-size: 14pt;
}

.options {
    display: flex;
    align-items: center;
    width:100%;
    margin-bottom: 10px;
    justify-content: space-between;
}

.file-path button {
    padding: 10px 5px;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
}

.file-path button:hover {
    text-decoration: underline;
}

.file-path span {
    color: white;
    font-size: 15px;
}

.save-btn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    float: right;
    outline: none;
    border: none;
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: #3956ff;
}

.empty-dir {
    padding: 20px;
}

.empty-dir p {
    color: white;
    text-align: center;
    font-size: 20px;
}

.create-dropdown,
.upload-dropdown {
    position: relative;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}
.actions button {
    border-radius: 5px;
    background-color: #3956ff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.actions button:hover {
    background-color: #2243f8;
}

.create-btn,
.upload-btn{
    display: inline-flex;
    align-items: center;
}

.create-btn img,
.upload-btn img {
    width: 18px;
    height: 18px;
    padding: 0;
    transition: 0.2s ease-in;
}

.create-options,
.upload-options {
    overflow: hidden;
    border-radius: 5px;
    margin-top: 5px;
    display: none;
    position: absolute;
    background-color: transparent;
    width: 100%;
    z-index: 1;
}

.create-options button,
.upload-options button {
    border-radius: 0;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    display: block;
}

.create-dropdown.show .create-options,
.upload-dropdown.show .upload-options {
    display: block;
}

.create-dropdown.show .create-btn img,
.upload-dropdown.show .upload-btn img {
    transform: rotate(180deg);
}

.context-menu {
    background-color: transparent;
    width: 100px;
    display: none;
    flex-direction: column;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #505050;
}

.context-menu.show {
    display: flex;
}

.context-menu button {
    text-align: left;
    display: block;
    border: none;
    outline: none;
    padding: 10px;
    color: #fff;
    width: 100%;
    background-color: #1f1f1f;
}

.context-menu button:hover {
    background-color: #505050;
}

.uploads-container {
    display: none;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    right: 20px;
    bottom: 25px;
    background-color: #1f1f1f;
    height: fit-content;
    width: 400px;
    border-radius: 5px;
    padding: 20px;
}

.uploads-container h1 {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.uploads-container p {
    color: #505050;
}

.uploads-container .progress-bar-container {
    width: 100%;
    overflow: hidden;
    background-color: #505050;
    height: 4px;
    border-radius: 5px;
}

.uploads-container .progress-bar-container .progress-bar {
    width: 0;
    background-color: #3956ff;
    height: 100%;
}

