@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

.notifications {
    display: flex;
    position: fixed;
    flex-direction: column;
    gap: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    z-index: 102;
}

.notification-box {
    display: flex;
    justify-content: center;
    width: 400px;
    background-color: #121212;
    border: 2px solid #121212;
    border-radius: 10px;
    padding: 10px 10px;
    animation: notification 10s ease-in;
    opacity: 0;
}

.notification-box p {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.notification-box img {
    display: inline-block;
    width: 20px;
}

.modal-bg {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.modal {
    position: fixed;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f1f1f;
    filter: none;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 30px;
    z-index: 999;
}

.modal form {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.modal * {
    font-family: Poppins;
    font-size: 12px;
}

.modal h1 {
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.modal p {
    color: #505050;
}

.modal .info {
    display: flex;
    width: 400px;
    gap: 10px;
    flex-direction: column;
}

.modal .info span {
    display: inline;
}

.modal .info p {
    color: #ffffff;
}

.modal input {
    background-color: transparent;
    border: none;
    box-shadow: inset 0 0 0 1px #505050;
    outline: none;
    border-radius: 5px;
    width: 400px;
    padding: 10px;
    color: #fff;
}

.modal label {
    width: fit-content;
    margin-right: 5px;
    color: #ffffff;
    display: inline-block;
}

.modal .checkbox {
    display: flex;
    align-items: center;
    width: 100%;
}

.modal input[type=checkbox] {
    appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #868686;
    border-radius: 5px;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
}

.modal input:checked {
    content: url("/assets/icons/checkmark.svg");
    background-color: #3956ff;
    border-color: #3956ff;
}

.modal input[type=checkbox]:focus {
    box-shadow: none;
}

.modal input:focus {
    box-shadow: inset 0 0 0 2px #3956ff;
}

.modal .buttons {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.modal .submit-btn {
    border-radius: 5px;
    color: #fff;
    background-color: #3956ff;
    border: none;
    padding: 10px 20px;
}

.modal .cancel-btn {
    border-radius: 5px;
    color: #fff;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #3956ff;
    border: none;
    padding: 10px 20px;
}

.modal .submit-btn:hover,
.modal .cancel-btn:hover {
    background-color: #2243f8;
    box-shadow: none;
}

.modal *{
    display: block;
}

.context-menu {
    background-color: transparent;
    width: 100px;
    display: none;
    flex-direction: column;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #505050;
}

.context-menu.show {
    display: flex;
}

.context-menu button {
    text-align: left;
    display: block;
    border: none;
    outline: none;
    padding: 10px;
    color: #fff;
    width: 100%;
    background-color: #1f1f1f;
}

.context-menu button:hover {
    background-color: #505050;
}

.btn-loader {
    display: none;
    border: 2px solid #fff;
    margin-left: 5px;
    border-top: 3px solid transparent;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes notification {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 100;
    }
    90% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}
