@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.login-container * {
    font-family: 'Poppins', sans-serif;
}

/* Body styles */
body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login container */
.login-container {
    background-color: #1f1f1f;
    padding: 20px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/* Login form */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    text-align: center;
    color: white;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 0;
}

input[type="text"],
input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    background-color: #1f1f1f;
    padding: 10px;
    font-size: 14px;
    border: none;
    box-shadow: inset 0 0 0 1px #505050;
    border-radius: 5px;
    color: #fff;
    outline: none;
}

label {
    color: #505050;
}

input[type="text"]:focus,
input[type="password"]:focus {
    box-shadow: inset 0 0 0 2px #3956ff;
}

/* Submit button */
.submit-btn {
    background-color: #3956ff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #2243f8;
}

.errors {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    top: 10px;
}

.error-box {
    display: flex;
    justify-content: center;
    width: 400px;
    border-radius: 10px;
    padding: 10px 10px;
    animation: error 10s ease-in;
    opacity: 0;
}

.error-box p {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.error-box img {
    display: inline-block;
    width: 20px;
}

.btn-loader {
    display: none;
    border: 2px solid #fff;
    margin-left: 10px;
    border-top: 3px solid transparent;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes error {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 100;
    }
    90% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}


