.users-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    width: 900px;
}

.users {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.users-container * {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    background-color: #1f1f1f;
    width: 100%;
    color: #fff;
}

.user button {
    background-color: #3956ff;
    color: #fff;
    border-radius: 10px;
    outline: none;
    display: flex;
    align-items: center;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
}

.user .actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.actions button:hover {
    background-color: #2243f8;
}

#delete-btn:hover {
    color: #fff;
    background-color: #ff5046;
}

.options {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    justify-content: right;
}

.options button {
    border-radius: 10px;
    background-color: #3956ff;
    color: white;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}

.options button:hover {
    background-color: #2243f8;
}

#delete-btn {
    background-color: rgba(255, 80, 70, 0.22);
    color: #ff5046;
}
